<style>
    #map1 {
        height: 420px;
        width: auto;
    }

    .infoWindowContent {
        font-size: 14px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }

    h2 {
        margin-bottom: 0;
        margin-top: 0;
    }
</style>

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Customer</a></li>
            <li><a href="#">Add Customer</a></li>
        </ol>
    </div>
</div>
<div class="row" ng-controller="CustomerController">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search"></i>
                    <span>Registration form</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Customer Name</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Customer Name" data-toggle="tooltip"
                                   data-placement="bottom" title="Tooltip for name" ng-model="customer.name">
                        </div>
                        <label class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Email" data-toggle="tooltip"
                                   data-placement="bottom" title="Tooltip for last name" ng-model="customer.email">
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">Address Line 1</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Address Line 1"
                                   ng-model="customer.addressline1">
                        </div>
                        <label class="col-sm-2 control-label">Address Line 2</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Address Line 2"
                                   ng-model="customer.addressline2">
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">City</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="City" ng-model="customer.city">
                        </div>
                        <label class="col-sm-2 control-label">Mobile No</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Mobile No"
                                   ng-model="customer.mobilenumber">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Password" ng-model="customer.password">
                        </div>
                        <label class="col-sm-2 control-label">Confirm Password</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Confirm Password">
                        </div>
                    </div>

                    <hr>
                    <label>Pumping Information</label>
                    <hr>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">City</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Pump City" ng-model="pump.city">
                        </div>
                        <label class="col-sm-2 control-label">Label</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Label" ng-model="pump.label">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">Pump Address Line 1</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Pump Address Line 1"
                                   ng-model="pump.addressline1">
                        </div>
                        <label class="col-sm-2 control-label">Pump Address Line 2</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Pump Address Line 2"
                                   ng-model="pump.addressline2">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">Pumping Type</label>

                        <div class="col-sm-4">
                            <select class="form-control" ng-model="pump.pumpingType">
                                <option value="small_pump">Small Pump</option>
                                <option value="normal_pump">Normal Pump</option>
                                <option value="massive_pump">Massive Pump</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Diameter</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Diameter Value"
                                   ng-model="pump.diameter">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">Flange</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Flange"
                                   ng-model="pump.flange">
                        </div>
                        <label class="col-sm-2 control-label">Description</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Description">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label">Latitude</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Latitude"
                                   ng-model="pump.latitude">
                        </div>
                        <label class="col-sm-2 control-label">Longitude</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Longitude"
                                   ng-model="pump.longitude">
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <div class="col-lg-2 col-lg-offset-10">
                            <button type="button" class="btn btn-primary" ng-click="addCustomer()">Add Customer</button>
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <div id="map1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

